@import '~@fullcalendar/core/main.min.css';
@import '~@fullcalendar/daygrid/main.min.css';
@import '~@fullcalendar/timegrid/main.min.css';

#kup-calendar {
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;

    kup-button {
      margin: 0 0.5rem;
    }
  }
}
